/*=========================
===Start Footer Section ===
===========================*/
#footer {
    
    
}
#footer{
  background:#000;
}

.copyright-text {
  color: #FFFFFF;
  padding: 27px 0 15px;
}

.copyright-text p span{
  color:#ffe600;
}

.footer-socials {
  margin-bottom:30px;
}

.footer-socials li {
  display: inline-block;
}

.footer-socials li a{
  font-size: 24px;
  padding: 15px;
  
}

.scroll-up {
  overflow:hidden
}

.scroll-up a{
  background-color:#FFE600;
  font-size: 30px;
  padding:20px;
}

.scroll-up a:hover{
  color:#000;
}


/*======== End ===========
=====Footer Section ======
==========================*/