                                    $primary_color:#ffffff;#navigation .main-nav {
               background-color:rgba(19,19,22,0.5) ;
              }#navigation .main-nav.black-nav {
               background-color:rgba(19,19,22,0.5) ;
              }#navigation .main-nav {
               background-color:rgba(19,19,22,0.5) ;
              }#navigation .navbar-brand a h1 img {
               max-height:129px ;
              }#navigation .navbar-right li a {
                        color:#ffffff;
                        font-size:14px;
                        padding:25px 20px;
                        margin:0;
                      
                   }.wg-title,
                .entry-blog .entry-date,
                .cms-blog-layout1 .cms-blog-header .cms-blog-date,
                .entry-blog .entry-meta i,
                #secondary [class*='widget_'] ul li a:hover, 
                #secondary [class*='widget-'] ul li a:hover:before,
                #secondary [class*='widget_'] ul li a:hover:before, 
                #secondary [class*='widget-'] ul li a:hover:before,
                .entry-blog .entry-meta ul li.detail-author a,
                .entry-blog .entry-meta ul li a:hover {
                    color:#ffffff;
                }.navigation .page-numbers:hover,
                .navigation .prev.page-numbers:hover:before,
                .navigation .next.page-numbers:hover:after,
                .navigation .page-numbers.current {
                    background:#ffffff;
                }.page-sub-title {
                    color:#ffdd00;
                }.entry-blog .entry-date, .cms-blog-layout1 .cms-blog-header .cms-blog-date,
                body .mejs-controls .mejs-time-rail .mejs-time-current, 
                body .mejs-controls .mejs-time-rail .mejs-time-loaded, 
                body .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
                    background-color:#ffdd00;
                }body #page #main {margin:0 0 80px;}footer #cshero-footer-top{padding:65px 0;}#cshero-footer-top {
                    color:#ffffff;
                }#cshero-footer-top .wg-title {
                    color:#ffffff;
                }#cshero-footer-top .wg-title:before {
                    background-color:#ffffff;
                }#cshero-footer-top a {
                    color:#ffffff;
                }#cshero-footer-top a:hover {
                    color:#ffffff;
                }