/*========================
======Slider Section======
==========================*/

.slider-caption{
  color:#fff;
  font-size:20px;
  position:absolute;
  font-weight:500;
  left:50%;
  top:50%;
  margin-left:-380px;
  margin-top:-125px;
  max-width:760px;
}

.slider-caption h1{
  font-size: 65px;
  font-weight: bold;
  margin-bottom:25px;
  color:#fff;
}

.slider-caption p{
    line-height: 28px !important;
}

#main-carousel .item {
  background-size:cover;
  background-repeat:no-repeat;
}

.carousel-indicators li {
  background-color:#9d9da4;
  border: 1px solid #9d9da4;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 13px;
  margin: 1px 7px;
  text-indent: -999px;
  width: 13px;
}

.carousel-indicators 
.active {
  background-color: #ffe600;
  border: 1px solid #ffe600;
  height: 13px;
  margin: 1px 7px;
  width: 13px;
}

#main-carousel .video-bg {
  position:absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  width: 100%;  
  overflow: hidden;
}

#main-carousel .video-bg video {
  background-size: cover;  
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: relative;  
  width: auto;
}

#main-carousel {
  overflow: hidden;
}
/*========End=============
======Slider Section======
==========================*/

/*========================
==Start Services Section===
==========================*/
.service-content {
  font-size:12.5px;
  line-height:25px;
}

.service-content i {
  display:inline-block;
  font-size: 50px;
  margin-bottom: 25px;
  color:#1c1c1c;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.7s ease-in-out 0.15s;
  -moz-transition: all 0.7s ease-in-out 0.15s;
  -ms-transition: all 0.7s ease-in-out 0.15s;
  -o-transition: all 0.7s ease-in-out 0.15s;
  transition: all 0.7s ease-in-out 0.15s;
}

.service-content:hover i {  
  -webkit-animation: astro-pulse 1500ms;
  -moz-animation: astro-pulse 1500ms;
  -o-animation: astro-pulse 1500ms;
  -ms-animation: astro-pulse 1500ms;
  animation: astro-pulse 1500ms;
  color:#ffe600;
}

.service-content h3{
  font-size:20px;
  font-weight: 300;  
  margin-bottom: 15px;
  color:#131316;
  text-transform: uppercase;
}

/*=======  End  ==========
=====Services Section=====
==========================*/

/*========================
=Start Parallax-one Section=
==========================*/
#parallax-one{
  //background-image: url("../images/parallax-bg/parallax1.jpg");
}

.video-section  {  
  position:relative;  
}

.video-section:hover a {
  -webkit-animation: astro-drop 500ms;
  -moz-animation: astro-drop 500ms;
  -o-animation: astro-drop 500ms;
  -ms-animation: astro-drop 500ms;
  animation: astro-drop 500ms;
}

.video-section  img {
  width:100%;
}

.video-caption{
  background-color:rgba(0, 0, 0, 0.55);
  left:0;
  padding: 30px 30px 30px 60px;
  position: absolute;
  bottom:0;
  width: 100%;
  font-weight:300;
}

.video-caption a {
  color: #FFE600;
  font-size: 75px;
  opacity:.7;
  width:20%;
  margin-top:10px;
}

.video-caption a:hover {
  opacity:1;  
}

.video-caption .video-text{
  width: 80%;
}

.video-text h5{
  font-weight: 500;
  font-size:20px;
  margin:20px 0;
  text-transform:uppercase;
}

#parallax-one .parallax-text {
  margin-left:25px;
}

.parallax-text h2{
  color: #FFE600;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.parallax-text h4{
  text-transform: uppercase;
  font-weight: 300;
}

.parallax-icon{
  margin-top: 30px;
  overflow: hidden;
}

.p-icon{
  width: 15%;
}

.p-text{
  width: 85%;
}

.p-icon i{
  color: #FFE600;
  font-size: 40px;
  margin-top:10px;
}
/*========End==============
== Parallax One Section====
===========================*/

/*========================
==Start Work Section======
==========================*/

#our-work .section-title {
  padding-bottom:60px;
}

.portfolio-menu {
  margin-bottom: 85px;
}

.portfolio-menu ul li{
  display: inline-block;
  padding: 5px 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight:300;
}

.portfolio-menu ul li:hover, 
.portfolio-menu ul li.active{
  background-color:#ffe600;
  color:#000;
  font-weight:500;
}

.portfolio-content{
  padding: 0;
  position: relative;
}

.portfolio-content .overlay{
  background:rgba(19, 19, 22, 0.6);
  color: #FFE600;
  overflow:hidden;
  height:100%;
  width:100%;
  top:0;
  left:0;  
  padding-top: 40px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.portfolio-content .overlay, 
.portfolio-content .overlay h5, 
.portfolio-content .overlay h6, 
.portfolio-content .overlay a i{
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.portfolio-content .overlay h5{
  color: #FFE600;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-out 0.35s;
  -moz-transition: all 0.5s ease-out 0.35s;
  -ms-transition: all 0.5s ease-out 0.35s;
  -o-transition: all 0.5s ease-out 0.35s;
  transition: all 0.5s ease-out 0.35s;
}

.portfolio-content .overlay h6{
  color:#ffe600;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-out 0.55s;
  -moz-transition: all 0.5s ease-out 0.55s;
  -ms-transition: all 0.5s ease-out 0.55s;
  -o-transition: all 0.5s ease-out 0.55s;
  transition: all 0.5s ease-out 0.55s;
}

.portfolio-content .overlay a i{
  color:#ffe600;
  -webkit-transition: all 0.5s ease-out 0.75s;
  -moz-transition: all 0.5s ease-out 0.75s;
  -ms-transition: all 0.5s ease-out 0.75s;
  -o-transition: all 0.5s ease-out 0.75s;
  transition: all 0.5s ease-out 0.75s;
}


.portfolio-content:hover .overlay, 
.portfolio-content:hover .overlay h5, 
.portfolio-content:hover .overlay h6, 
.portfolio-content:hover .overlay a i{
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.portfolio-content img {
  width:100%;
}

.mix{
  display:none;
}

/*Portfolio details*/

#single-portfolio {
  margin-bottom:85px;
}

a.item-close i {
  background-color: #FFE600;
  color:#000;
  height:30px;
  width:30px;
  line-height:28px;
  text-align:center;
  border-radius:50%;
  opacity:0.8;
}

a.item-close i:hover {
  opacity:1;
}

#details-portfolio .details-info {
  margin-left:35px;
  font-weight:300;
}

#details-portfolio h3 {
  margin-bottom:25px;
}

#details-portfolio ul {
  margin:20px 0;
}

#details-portfolio .btn-default {
  margin-left:20px;
  margin-top:15px;
  font-weight:400;
}
/*======= End ============
======== Work Section=====
==========================*/


/*========================
===Start About Section====
==========================*/
#about-us .section-title {
  padding-bottom:50px;
}

.about-content {
  font-weight:300;
  max-width:400px;
}

.about-content:hover i {
  -webkit-animation: astro-pulse 2000ms;
  -moz-animation: astro-pulse 2000ms;
  -o-animation: astro-pulse 2000ms;
  -ms-animation: astro-pulse 2000ms;
  animation: astro-pulse 2000ms;
  color:#ffe600;
}

.about-content i{
  color: #000000;
  font-size: 58px;
  margin-bottom: 15px;
  margin-top: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about-content h6{
  color: #515151;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 17px;
  text-transform: uppercase;
}

/*======= End ===========
===== About Section =====
=========================*/

/*=======================
=====Start Features =====
=========================*/

#features{
  padding: 40px 0;
  overflow:hidden;
}

.featured-tab{
  background-color:#fafafa;
  border: 1px solid #f1f1f1;
  padding: 40px 30px;
  margin:40px 0 60px;
}

.featured-tab .nav-tabs{
  border-bottom: 0;
}

.featured-tab .nav-tabs>li.active>a, 
.featured-tab .nav-tabs>li a:hover{
  color: #333;
  background-color:#ffe600;
}

.featured-tab .nav-tabs>li.active>a:after, 
.featured-tab .nav-tabs>li:hover a:after {
  left: 100%;
  border: transparent solid;
  content: " ";
  position: absolute;
  border-width: 40px;
  top: 50%;
  border-left-color: #FFDF00;
  margin-top: -40px;
}

.featured-tab .nav-tabs>li>a{
  border-radius: 4px 0 0 4px;
  padding: 18px 15px 8px;
  color: #858585;
  position: relative;
  border: 0 !important;
}

.featured-tab .feature-icon{
  font-size: 34px;
}

.featured-tab .feature-content{
  margin-left: 50px;
}

.featured-tab .feature-content h3{
  font-size: 20px;
  line-height: normal;
  margin: 0;
}

.featured-tab .tab-pane .pull-left{
  margin: 0 25px 10px 0;
}

.featured-tab .tab-pane .pull-right{
  margin: 0 0 10px 25px;
}

.featured-tab .tab-pane .tab-image img {
  margin-bottom:15px;
}

.featured-tab .tab-pane h3{
  margin: 0;
  line-height: normal;
  color:#515151;
}

.featured-tab .tab-pane h4{
  line-height: normal;
  margin: 0 0 20px;
  font-weight: 300
}

.featured-tab .tab-pane a {
  color:#FFDF00;
  margin-top:15px;
}

.featured-tab .tab-pane a:hover {
  color:#515151;
}

.featured-tab .tab-pane{
  padding-left: 25px;
  overflow:hidden;
}

.featured-tab .tab-pane{  
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/*======= End ===========
===== Features Section =====
=========================*/

/*========================
==Start Team Section =====
==========================*/
#team{
  background-color:#fafafa;
  font-weight:300;
  padding-top:65px;
}

.section-title-two {
  margin-bottom:50px;
}

.team-member{
  position:relative;
  overflow:hidden;
}

.member-text {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height:0;
  background-color:rgba(255, 230, 0, 0.9);
  opacity:0;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.team-member:hover .member-text{
  opacity:1;
  top:0;
  height:100%;
}

.social-icons {
  position: relative;
  width:100%;
  top:50%;
  left:0;
  text-align:center;
}

.social-icons li {
  display:inline-block;
  margin:5px 10px;
}

.social-icons li a i {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.social-icons li a:hover .fa-facebook{
  color:#3A5795;
}

.social-icons li a:hover .fa-twitter{
  color:#5EA9DD;
}

.social-icons li a:hover .fa-google-plus{
  color:#DD4B39;
}

.social-icons li a:hover .fa-linkedin{
  color:#0177B5;
}

.team-member h5{  
  font-size: 20px;
  font-weight: 400;  
}

.team-member h6{
  font-size:16px;
  margin-top:0 !important;
}

.team-member h5, 
.team-member h6 {
  text-transform: uppercase;
  position:relative;
  top:50%;
  color:#333;
  margin-top:-25px
}


/*======== End ==========
====== Team Section =====
=========================*/

/*========================
=== Start Blog Section ===
==========================*/
#blog-section .section-title {
  padding-bottom:40px;
}

#blog-section .section-title h2{
  margin-top:0;
}

#blog-section .blog {
  position:relative;
  z-index:100;
  border-bottom: 1px solid#fff;
  -webkit-transition: background-color 0.4s ease-out;
  -moz-transition: background-color 0.4s ease-out;
  -ms-transition: background-color 0.4s ease-out;
  -o-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out;
  background-color:#ccc;
}

#blog-section .blog:hover {
  background-color: rgba(255,230,0,0.95);
  background-color: -moz-linear-gradient(left, rgba(255,230,0,0.95) 39%, rgba(255,230,0,0.95) 45%, rgba(255,230,0,0.95) 58%, rgba(255,230,0,0.95) 65%, rgba(255,230,0,0.95) 66%, rgba(255,230,0,0.42) 97%, rgba(255,230,0,0.42) 100%);
  background-color: -webkit-gradient(left top, right top, color-stop(39%, rgba(255,230,0,0.95)), color-stop(45%, rgba(255,230,0,0.95)), color-stop(58%, rgba(255,230,0,0.95)), color-stop(65%, rgba(255,230,0,0.95)), color-stop(66%, rgba(255,230,0,0.95)), color-stop(97%, rgba(255,230,0,0.42)), color-stop(100%, rgba(255,230,0,0.42)));
  background-color: -webkit-linear-gradient(left, rgba(255,230,0,0.95) 39%, rgba(255,230,0,0.95) 45%, rgba(255,230,0,0.95) 58%, rgba(255,230,0,0.95) 65%, rgba(255,230,0,0.95) 66%, rgba(255,230,0,0.42) 97%, rgba(255,230,0,0.42) 100%);
  background-color: -o-linear-gradient(left, rgba(255,230,0,0.95) 39%, rgba(255,230,0,0.95) 45%, rgba(255,230,0,0.95) 58%, rgba(255,230,0,0.95) 65%, rgba(255,230,0,0.95) 66%, rgba(255,230,0,0.42) 97%, rgba(255,230,0,0.42) 100%);
  background-color: -ms-linear-gradient(left, rgba(255,230,0,0.95) 39%, rgba(255,230,0,0.95) 45%, rgba(255,230,0,0.95) 58%, rgba(255,230,0,0.95) 65%, rgba(255,230,0,0.95) 66%, rgba(255,230,0,0.42) 97%, rgba(255,230,0,0.42) 100%);
  background-color: linear-gradient(to right, rgba(255,230,0,0.95) 39%, rgba(255,230,0,0.95) 45%, rgba(255,230,0,0.95) 58%, rgba(255,230,0,0.95) 65%, rgba(255,230,0,0.95) 66%, rgba(255,230,0,0.42) 97%, rgba(255,230,0,0.42) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe600', endColorstr='#ffe600', GradientType=1 );  
}

/*#blog-section .post-one-bg {
  background:url(../images/blog/blog-bg1.jpg);  
}

#blog-section .post-two-bg {
  background-image:url(../images/blog/blog-bg2.jpg);
} 

#blog-section .post-three-bg {
  background-image:url(../images/blog/blog-bg3.jpg);
} 

#blog-section .post-four-bg {
  background-image:url(../images/blog/blog-bg4.jpg);
}*/

#blog-section .post-one-bg, 
#blog-section .post-two-bg, 
#blog-section .post-three-bg, 
#blog-section .post-four-bg{  
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  background-size:cover;  
  background-color:#f5f5f5;
  -webkit-filter:grayscale(100%) blur(2px);
  -moz-filter:grayscale(100%) blur(2px);
  -o-filter:grayscale(100%) blur(2px);
  -ms-filter:grayscale(100%) blur(2px);
  filter:grayscale(100%) blur(2px);
  opacity:0.3;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;  
}

#blog-section .blog:hover .post-one-bg, 
#blog-section .blog:hover .post-two-bg , 
#blog-section .blog:hover .post-three-bg, 
#blog-section .blog:hover .post-four-bg{
  -webkit-filter:grayscale(0) blur(0);
  -moz-filter:grayscale(0) blur(0);
  -o-filter:grayscale(0) blur(0);
  -ms-filter:grayscale(0) blur(0);
  filter:grayscale(0) blur(0);  
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  opacity:0.2;
}

#blog-section .blog:hover .post-info{
  border-left: 2px solid #000;
}
#blog-section {
    line-height: 1.42857143;
	display: inline-block;
	width: 100%; 
}
.day{
  
  font-family: 'PT Sans Narrow', sans-serif;
  color: #000000;
  font-size: 75px;
}

.month:hover, .day:hover{
  color:#000;
}

.month{
  color: #000000;
  display: block;
  font-size: 18px;
  padding-top: 28px;
  margin-left:-15px;
  margin-right:-15px;
}

.month span {
  display:block;
}

.post-info{
  border-left: 2px solid #ACB5B8;
  margin-top: 23px;
  padding-left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.post-info h2{
  font-size: 24px;
  text-transform:inherit;;
}

.post-info a{
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}

.post-meta span {
  margin-right:20px;
}

.post-info a i{
  padding-right: 7px;
}

/*======== End ===========
===== Blog Section =======
==========================*/

/*========================
==Start pricing Section===
==========================*/
#pricing {
  .pricing-table.featured 
  {
     .price-head {
        h2.price-name, h2.price-name strong {
          background-color:#FFE600; 
          color:#000;
        }
     }
    
     .price-footer a {
         background-color:#FFE600;
         color:#000;
         &:hover {
            background-color:#FFE600;
            color:#000;
         }
     }
      
   }
  
  .pricing-table {
    margin-bottom:25px;
    .price-head {
        h2{
          background-color:#f2f2f2;
          font-size: 24px;
          margin: 0;
          padding: 25px 0 25px 20px;
          text-align:left;
          strong{
              font-family: 'PT Sans Narrow';
              font-size: 40px;
              padding-right: 20px;
              float:right;
              position:relative;
			  color: #707070;
			  &:hover{
				color: #000;
			  }
              &::before {
                  position:absolute;
                  content:'$';
                  left:-12px;
                  top:0;
                  font-size:16px;
                }
          }
          span {
              font-size:16px;
            }
        }
    }
    .price-body{
          background:#fcfcfc;
          ul{
              margin-top: -10px;
              padding: 13px;
              li{
                  color: #454545;
                  display: block;
                  padding: 8px 0;
              }
          }
    }
    .price-footer {
          background:#DEDEDE;
          a{
              color: #454545;
              font-size: 14px;
              letter-spacing: 2px;
              padding: 13px 0px;
              display: block;
              text-transform:uppercase;
              -webkit-transition: all 0.5s ease-in-out;
              -moz-transition: all 0.5s ease-in-out;
              -ms-transition: all 0.5s ease-in-out;
              -o-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out;
              &:hover{
                background-color: #FFE600;
                color: #000;
              }
          }
          
    }
    &:hover {
        .price-head {
           h2 {
            strong {
              color:#000;
              -webkit-animation: astro-drop 500ms;
              -moz-animation: astro-drop 500ms;
              -o-animation: astro-drop 500ms;
              -ms-animation: astro-drop 500ms;
              animation: astro-drop 500ms;
            }
           }
        }
    }
  }
}


/*======== End ===========
====== pricing Section ===
==========================*/

/*========================
== Start Happy Section ===
==========================*/

#happy-clients{
  position: relative;
   .overlay {
      background-color:rgba(19, 19, 22, 0.4);
      position: absolute  ;
    }
}



#happy-clients .padding-top {
  padding-top:60px;
}

#happy-clients .padding-bottom {
  padding-bottom:50px;
}

#happy-clients .section-title {
  padding-bottom:45px;
}

#happy-clients .section-title h2 small, 
#happy-clients .section-title h2 {
  color:#fff;
}

.fun-box i {
  font-size: 48px;
  margin-bottom: 15px;
}

#happy-clients
    .fun-box h2{
      font-size: 24px;
      margin-bottom:-5px;
      color: #fff;
    }

.fun-box span{
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 120px;
  display:inline-black;
  font-weight:bold;
  line-height: normal;
  color: #fff;
}
/*======== End ===========
====== Happy Section =====
==========================*/

/*========================
==Start Shop Section======
==========================*/
.product-details {
  font-weight:300;
}

.product-details h3.product-name {
  display:inline-block;
  margin-right:15px;
  margin-bottom:13px;
  font-weight:300;
  margin-top:0;
}

.product-details .ratings i {
  font-size:14px;
} 

.ratings .fa-star,
.product-price i, 
.product-details ul li i {
  color:#ffe600
}

.product-price {
  font-family: 'PT Sans Caption', sans-serif;
  font-size:24px;
  font-weight:400;
  margin-bottom:20px;
  color: #707070;
}

.product-price i {
  margin-right:7px;  
}

.product-details h5 {
  font-size:16px;
  margin-top:20px;
  font-weight:500;
  margin-bottom:15px;
}

.product-details ul li {
  font-size:14px;
  margin-bottom:5px;
}

.product-details ul li i {
  margin-right:5px;
  font-weight:bold;
}

.products .tab-content {
  margin-bottom:115px;
}

.products .nav-tabs {
  border:none;
  text-align:center;
}

.products .nav-tabs > li a{
  border-width:1px 1px 0 1px;
  border-style:solid;
  border-color:#f7f7f7;
  border-radius:0;
  margin:0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.products .nav-tabs > li a img {
  width:100%;
}

.products .nav-tabs .product-name {
  background-color: #fafafa;
  border-bottom: 2px solid #e1e6e7;
  padding:15px 0 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-tabs .active .product-name, 
.nav-tabs li.col-sm-3:hover .product-name {
  background-color:#ffe600;
  color:#000;
}

.products .nav-tabs .product-name span {
  display:block;
  font-family: 'PT Sans Narrow', sans-serif;
}
.products .nav-tabs > li:hover a, 
.products .nav-tabs > li.active > a, 
.products .nav-tabs > li a:hover, 
.products .nav-tabs > li.active > a:hover, 
.products .nav-tabs > li a:focus {
  border-color:transparent;
  background-color:rgba(19, 19, 22, 0.5);
}

#product-list li {
  display:none;
  margin-bottom:30px;
}

#loadMore {
  text-align: center;  
  padding-top: 25px;
  margin-bottom: -40px;
}
#loadMore span {
  display:inline-block;
  cursor: pointer;
  text-transform:capitalize;
  color:#B0AFAF;
  font-size:20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#loadMore span:hover {
  color:#000;
}

/*======== End ===========
====== Shop Section ======
==========================*/

/*========================
==Start clients Section===
==========================*/
#clients  {
  background-color:#fbfbfb;
}

#clients .padding-top {
  padding-top:60px;
}

#clients .section-title {
  padding-bottom:60px;
}

#clients img {
  opacity:0.6;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#clients img:hover {
  opacity:1;
}
/*======== End ===========
===== clients Section ====
==========================*/

/*========================
==Start contact Section===
==========================*/
#contact .section-title {
  padding-bottom:70px;
}

.contact-info i{
  color: #FFE600;
  font-size: 40px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact-info:hover i{
  -webkit-animation: astro-drop 500ms;
  -moz-animation: astro-drop 500ms;
  -o-animation: astro-drop 500ms;
  -ms-animation: astro-drop 500ms;
  animation: astro-drop 500ms;
  color:#000;
}

.contact-info a {
  color:#707070;
}

.contact-info a:hover {
  color: #FFE600;
}

.contact-info h3{
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.contact-info, .contact-info a{
  font-size: 20px;
  font-weight: 300;
  margin-bottom: inherit;
}

#gmap {
  height:550px;
}
/*=======  End  ==========
====== contact Section ===
==========================*/

/*========================
==Start message Section===
==========================*/
#message .padding-top {
  padding-top:70px;
}

#message h2 {
  font-size:30px;
  margin-bottom:20px;
  color:#000;
  text-transform:uppercase;
  font-weight:300;
}
.form-control{
  background-color:transparent;
  border-radius:0;
  color: #333;
  height: 60px;
  margin-bottom: 15px;
  border-color:#ededed;
  box-shadow:none;
}

.form-control:focus {
  border-color:#ffe600;
  box-shadow:none;
}

textarea.form-control{
  height: 225px;
  resize:none;
}

.form-control::-webkit-input-placeholder {
  color:#333;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color:#333; 
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
  color:#333; 
}

.form-control:-ms-input-placeholder {  
   color:#333;  
}

#message .btn-default {
  font-weight:400;
  text-transform:capitalize;
  font-size: 20px;
  border: inherit;
}

#message .btn-default:before, 
#message .btn-default:after {
  top:0;
  height:62px;
}

/*======== End ===========
===== message Section ====
==========================*/

/*======== Start ===========
===== Our product Section ====
==========================*/
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto;  
}

.our-work-portfolio{
	display: inline-block; 
}